/**
* ================================================
* title：chatRoom.css
* time: 2016-10-14
* author: 杨凤玲
* content: 聊天室（chatRomm.html）相关css
* ================================================
*/

@charset "utf-8";
/* CSS Document */
body,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
input,textarea,img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}

body {
    padding: 0;

}


@font-face {
  font-family: 'Glyphicons Halflings';
}
/************chatRoom.css************/
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
#chat .container-fluid .row .list {
    background-color: #32343a;
    padding: 0;
}
#chat .container-fluid .row .list .icon {
    display: inline-block;
    width: 48px;
    float: right;
}
#chat .container-fluid .row .list .glyphicon {
    color: #dedede;
    /* 282a2e   7a7b7d*/
    margin: 4px;
}
#chat .container-fluid .row .list .me {
    width: 100%;
    background-color: #282a2e;
    padding: 10px;
}
#chat .container-fluid .row .list img {
    display: inline-block;
}
#chat .container-fluid .row .list .me h3 {
    font: 15px SimHei;
    color: #fff;
    display: inline-block;
    margin: 7px;
}
#chat .container-fluid .row .list .search {
    padding: 0 10px;
    /* border-bottom: 1px solid #dedede; */
}
#chat .container-fluid .row .list .search input {
    background-color: #32343a;
    padding: 0 25px;

}
#chat .container-fluid .row .list .search span {
    position: relative;
    top: 30px;
    left: 3px;
}
#chat .container-fluid .row .list .others {
    margin: 10px;
    line-height: .5em;
    height: 325px;
    overflow: auto;
}

#chat .container-fluid .row .list .others img {
    margin: 7px 0;
}
#chat .container-fluid .row .list .others .one {
    border-bottom: 1px solid #282a2e;
    height: 65px
}
#chat .container-fluid .row .list .others h4 {
    font: 13px SimHei;
    color: #fff;
    display: inline-block;
    margin: 0 7px;
}
#chat .container-fluid .row .list .others h5 {
    font: 12px SimHei;
    color: #dedede;
    display: inline-block;

    position: relative;
    top: -18px;
    left: 60px;
}
#chat .container-fluid .row .chat {
    padding: 0;
    background-color: #F8F8F8;
}
#chat .container-fluid .row .title {
    height: 50px;
}
#chat .container-fluid .row .title p {
    text-align: center;
    font: 16px SimHei;
    display: inline-block;
    width: 90%;
    margin: 10px auto;
}
#chat .container-fluid .row .title span {
    float: right;
    margin: 10px;
}
#chat .container-fluid .row .content {
    width: 100%;
    height: 231px;
    border: 1px solid #dedede;
}
.wangEditor-container {
    height: 191px;
}
.wangEditor-txt {
    height: 100%;
}





/*==========  Non-Mobile First Method  ==========*/

/* sm小屏幕（平板，[768~992)px ） */
@media (min-width: 768px) {

}

/* md中等屏幕（桌面显示器，[992-1200)px ） */
@media (min-width: 992px) {

}

/* lg大屏幕（大桌面显示器，1200+    ） */
@media (min-width: 1200px) {


}
