/**
* ================================================
* @Author: 杨凤玲
* @Date: 2016-10-7
* @Content: 注册界面（register.html）相关css
* @Last Modified time: 2016-11-8
* ================================================
*/


@charset "utf-8";
/* CSS Document */
body {
    padding: 0;
    background: url(../img/bg.jpg) no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.img-rounded{
 border-radius: 50%;
}
.fg img {
  display: none;
}
input {
  display: inline-block;
}
#register form div {
    width: 70%;
    margin: 0 auto;
}
#register form .btn {
    width: 70px;
    height: 30px;
    display: block;
    margin: 10px auto;
}
#register form .form-control {
    background-color: rgba(255, 255, 255,.4);
    width: 90%;
    display: inline-block;
}
#register .glyphicon-control {
    position: relative;
    right: 35px;
    top: 2px;
}
#register #p1,
#register #p2,
#register #p3 {
    display: none;
    font: 12px;
    color: #f00;
}
#register #p4 {
  display: none;
  color:red;
}
#section4 {
  background-color: #fff;
}

/* sm小屏幕（平板，[768~992)px ） */
@media (min-width: 768px) {
    footer {
    font-size: 14px;
   }
   #register form div {
    width: 60%;
    margin: 0 auto;
   }
   #register form button {
    display: block;
    margin: 0 auto;
   }
   #register form .btn {
    width: 100px;
    display: block;
    margin: 10px auto;

   }

}

/* md中等屏幕（桌面显示器，[992-1200)px ） */
@media (min-width: 992px) {
   #register form div {
    max-width: 400px;
    margin: 0 auto;
   }
   #register form .btn {
    width: 100px;
    display: block;
    margin: 10px auto;

   }
}

/* lg大屏幕（大桌面显示器，1200+    ） */
@media (min-width: 1200px) {
    footer {
    font-size: 14px;
   }
   #register form .btn {
    width: 100px;
    display: block;
    margin: 10px auto;

   }

}
