/* 
===================================
@auther:姚星如
@data:2016-11-13
@content:首页
@Last Modified Time:2016-11-15
===================================
 */
   
a {
	color: #fff;
}
.active a {
	color: #19AFE7;
}
ul {
    list-style: none;
}
.container-fluid {
    background:url(../img/beijing.gif) no-repeat ;
    width:100%;
    height:40%;
    padding-top: 2%;
    background-size: cover;
}/* 首页背景 */
.media {
	width: 100%;
	margin: 0px 0 0 11%;
	padding-top: 2%;
	box-sizing: border-box;
}/* logo图文还绕 */
.breadcrumb {
	background-color: rgba(125,125,125,0);
	border: 0;
	color: #ccc;
	}/* 面包屑导航小框 */
.navbar {
	background-color: rgba(125,125,125,0);
	border: 0;
	padding: 0;
	margin: 0;
} /* 导航取消背景色 */

.hero-unit {
	z-index: 110;
    text-align: right;
	box-sizing: border-box;
	padding-top: 8%;
	width: 90%;
	height: 20%;
    text-shadow: 5px 6px 5px #000;
	color: #19AFE7;
}/* 网页广告 */
.thumbnails {
	margin: 0;
	width: 100%;
    margin-top: 2em;
	padding: 0;
}/* 缩略图实现图文还绕 */
.thumbnail {
	box-shadow: 5px 10px 15px #888;
    height: 300px;
	text-align: left;
	padding: 0 2% 0 0 ;
	margin: 0 ;
	border-radius: 20px;
}/* 缩略图框 */
.thumbnails h3 {
	color: #19AFE7;
}
 .thumbnails p a {
	color: #19AFE7;
}
.box1 {
	padding: 28% 0 0 0;
	margin: 0;
	width: 100%;
	height: auto;
	background-color: rgba(125,125,125,0);
	box-sizing: border-box;
}/* 三个圆框 */
.img-responsive {
	border-radius: 15px;
    width: 100%;
}/* 响应式图片实现圆角 */
.na {
	color: #19AFE7;
}/* 图文还绕添加文字颜色 */
.foot {
	margin-top: 10%;
	text-align: center;
	color: #ccc;
}/* 页脚 */

/* 超小屏幕（手机，200~767） */
@media screen and (min-width:200px) and (max-width: 767px){
    .breadcrumb {
        margin: 0;
        padding: 0;
    }/* 导航小框 */
    .media {
        margin: 0px 0 0 9%;
    }/* logo图文还绕 */
    .media-body h4 {
        font-size: 16px;
    }
    .media-heading {
        padding-top: 6%;
    }
    .media-body p {
        display: none;
    }
    .divider {
        display: none;
    }
    h3 {
        font-size: 20px;
    }
    .hero-unit {
        padding-top: 0%;
    }/* 网页广告 */
    .thumbnail {
        padding: 0 8% 17% 8%;
        margin: 0;
        height: auto;
    }/* 缩略图框 */
    .img-responsive {
        margin-bottom: 5%;
    }
    .thumbnail h4 {
        padding-top: 70%;
    }
    .thumbnail p:nth-child(7) {
        margin-bottom: 0;
    }/* 公告栏的最后一个p去掉底边距 */
}

/* 小屏幕（平板，768~991） */
@media screen and (min-width:768px) and (max-width: 991px){
    .hero-unit {
        padding-top: 0%;
    }/* 网页广告 */
    .thumbnail {
        padding: 0 8%;
        height: 400px;
        margin: 0;
    }/* 缩略图框 */
    .img-responsive {
        margin-bottom: 10%;
    }
    .thumbnail h4 {
        padding-top: 75%;
    }
    .foot {
    margin-top: 5%;
    }/* 页脚 */
}
/* 中等屏幕（桌面显示器，992~1024） */
@media screen and (min-width:992px) and (max-width: 1023px){
    .breadcrumb {
        margin: 1% 0 0 20%;
        padding: 0;
    }/* 导航小框 */
    .hero-unit {
        padding-top: 4%;
        width: 80%;
    }/* 网页广告 */
    .thumbnail div .img-responsive {
        margin-top: 30%;
    }
    .thumbnail {
        padding: 0 8%;
        height: 440px;
        margin: 0;
    }/* 缩略图框 */
    .thumbnail h4 {
        padding-top: 75%;
    }
    .foot {
    margin-top: 5%;
    }/* 页脚 */
}
/* 大屏幕（大桌面显示器，大于等于 1240px） */
@media screen and (min-width:1024px){
    .breadcrumb {
        margin: 1% 0 0 30%;
        padding: 0;
    }/* 导航小框 */
    .hero-unit {
        padding-top: 0;
        width: 80%;
    }/* 网页广告 */
    .thumbnail {
        padding: 0 8%;
        height: 320px;
        margin: 0;
    }/* 缩略图框 */
    .thumbnail div .img-responsive {
        margin-top: 30%;
    }
    .thumbnail h1 {
        width: 50%;
        height: auto;
        margin: 0;
    }
    .thumbnail h1 img {
        margin: 0 9% 8% 0;
    }
    .foot {
    margin-top: 5%;
    }/* 页脚 */
}/* 大于1024  */   