/**
* ================================================
* @Author: 杨凤玲
* @Date: 2016-11-15
* @Content: 交友论坛-css样式
* @Last Modified time: 2016-11-17
* ================================================
*/
@charset "utf-8";
/* CSS Document */

#nav{
    margin: 0;
}

/* #section1 css */
#section1 {
    height: 400px;
    position: relative;
    width: 100%;
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
#section1 .text {
    width: 400px;
    position: relative;
    top: 40%;
    left: 13%;
    background-color: rgba(240, 240, 240, 0.4);
    padding: 10px;
}
#section1 .text p {
    text-align: left;
    color: #fcfcfc;
}
#section1 .text p:nth-of-type(1) {
    font: bold 33px Microsoft Yahei;
}

/* section2 css */
#section2 {
    background-color: #FFFEF6;
}
#section2 img {
    width: 120px;
    height: 120px;
    display: inline-block;
    padding: 0;
    margin: 0;
    float: left;
}
#section2 .one {
    height: 35px;
    display: inline-block;
}
#section2 .search {
    width: 340px;
    margin: 0 auto;
}
#section2 button {
    display: inline-block;
    margin: 20px 10px;
    background-color: #fa4d47;
    outline: none;
    color: #fff;
}
#section2 button:hover {
    background-color: #EB504E;
}
#section3 {
    margin-top: 50px;
}
#section3 h2 {
    padding-left: 20px;
    font-size: 30px;
    text-align: left;
    color: #fa4d47;
}
#section3 .row .box {
    border: 1px solid #efefef;
}
#section3 .col-md-4 h2 {
    margin-bottom: 10px;
}
#section3 .username{
    text-align: center;
    margin: 10px 0;
}
.container-fluid1 {
    margin: 10px auto;
}
.box {
    padding: 15px 0;
    border-top: 1px solid #eee;
    margin-bottom: 15px;
}
.box .head {
    display: block;
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0 auto;
}
.box .content .main p .user {
    color: #369;
    margin-right: 10px;
}
.box .content .main .pic {
    max-width: 600px;
    height: auto;
    margin: 10px 0;
    display: block;
}
.box .content .time {
    color: #ccc;
    font-size: 14px;
    display: inline-block;
}
.box .content .praise {
    background: url(../img/praise1-icon.png) no-repeat left center;
    padding: 0 0 0 17px;
}
.box .content .main .info a {
    float: right;
}
.box .content .main .info .comment-more {
    margin-right: 10px;
    padding-left: 20px;
    background: url(../img/comment.png) no-repeat left center;
}
.box .content .main .praise-total {
    background: url(../img/praise1-icon.png) no-repeat left center;
    width: 100%;
    background-color: #eee;
    padding: 7px 20px;
    margin-top: 10px;
}
.box .content .main .comment {
    margin-top: 10px;
}
.box .content .main .comment .part {
    border-top: 1px solid #eee;
}
.box .content .main .comment .part .head1 {
    width: 40px;
    height: 40px;
}
.box .content .main .comment .part .specific {
    margin: 6px 0;
}
.box .content .main .comment .part .specific .info1 a {
    float: right;
    margin: 0 5px;
}
.box .content .text-box span {
    float: right;
    margin-top: 7px;
}
.box .content .text-box button {
    float: right;
    margin: 7px 0 0 12px;
    outline: none;
}
.box .content .text-box .btn-off {
    background-color: #ddd;
    cursor: default;
    color: #fff;
    outline: none;
    border-color: #ddd;
}

.box .content .text-box .form-control1 {
    height: 30px;
}
.box .content .text-box .form-control-on {
    height: 100px;
}
#section3 #div1 {
    height: 200px;
}
#section3 button {
    width: 70px;
    display: block;
    margin: 10px auto;
    background-color: #fa4d47;
    border: 1px solid #fa4d47;
    color: #fff;
}

#section3 button:hover {
    background-color: #EB504E;
}
#section3 .box {
    padding-right: 20px;
}
#section3 .hot .box i {
    float: right;
    color: #999;
}
#section3 .hot .box a {
    color: #666;
}
#section3 .hot .box a:hover {
    color: #666;
    text-decoration: underline;
}
#section3 .hot .box ol span {
    display: inline-block;
    text-align: center;
    margin: 5px;
    width: 20px;
    height: 20px;
}
#section3 .hot .box ol li:nth-of-type(1) span,
#section3 .hot .box ol li:nth-of-type(2) span,
#section3 .hot .box ol li:nth-of-type(3) span {
    background-color: #ff7f42;
}
#section3 .pagination {
    display: block;
    width: 250px;
    margin: 10px auto;
}
#section3 .editor {
    margin-top: 20px;
}
/* section6 css */
.section6 {
    background-color: #F2F2F2;
    padding: 30px;
}
#section6 .row .txt h3 {
    height: 40px;
}
#section6 .row .txt p {
    line-height: 30px;
}
#section6 img {
    width: 50%;
    float: right;
}
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #section2 .wrapper {
        width: 630px;
    }
    #section2 img {
        width: 90px;
        height: 90px;
    }
    #section2 .wrapper .text {
        width: 450px;
        height: 90px;
    }
    #section2 .wrapper .text p {
        font-size: 20px;
        padding: 5px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #section1 .text {
        width: 200px;
    }
    #section1 .text p {
        font-size: 14px;
    }
    #section1 .text p:nth-of-type(1) {
        font: bold 18px Microsoft Yahei;
    }
    #section2 .wrapper {
        width: 420px;
    }
    #section2 img {
        width: 60px;
        height: 60px;
    }
    #section2 .wrapper .text {
        width: 300px;
        height: 60px;
    }
    #section2 .wrapper .text p {
        font-size: 15px;
        padding: 5px;
    }
    #section3 {
        font-size: 12px;
    }
    #section3 h2 {
        font-size: 18px;
    }
    #section3 h3 {
        font-size: 15px;
    }
    #section3 .head {
        width: 40px;
        height: 40px;
    }
    #section3 .pic {
        max-width: 200px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #section1 .text {
        width: 200px;
    }
    #section1 .text p {
        font-size: 14px;
    }
    #section1 .text p:nth-of-type(1) {
        font: bold 18px Microsoft Yahei;
    }
    #section2 .wrapper {
        width: 280px;
    }
    #section2 img {
        width: 40px;
        height: 40px;
    }
    #section2 .wrapper .text {
        width: 200px;
        height: 50px;
    }
    #section2 .wrapper .text p {
        font-size: 13px;
        padding: 3px;
    }
    #section2 .search {
        width: 280px;
    }
    #section2 .search button {
        font-size: 11px;
        width: 45px;
        height: 23px;
        padding: 0;
    }
    #section3 {
        font-size: 12px;
    }
    #section3 .head {
        width: 30px;
        height: 30px;
    }
    #section3 .pic {
        max-width: 150px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    #section1 .text {
        width: 200px;
    }
    #section1 .text p {
        font-size: 14px;
    }
    #section1 .text p:nth-of-type(1) {
        font: bold 18px Microsoft Yahei;
    }
}
